//
// Pages root
//
@import 'p-voting';
@import 'p-beckertv';
@import 'p-embajadores';
@import 'p-home';
@import 'p-nuestra_historia';
@import 'p-store';
@import 'p-profile';
@import 'p-challege';
@import 'p-profile-edit';