<div id="confirmVote" class="modal-vote">
	<div class="modal-content py-2 sm:py-5 px-2 sm:px-8">
		<a class="justify-between close-modal bg-secondary btn-custom--fase-3 flex items-center p-3 mt-2 border-0 focus:outline-none outline-none text-white">
			CERRAR
			<svg width="15" height="16" viewbox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.59854 0.744873H1.07965L5.58756 8.31996L0.993652 15.8951H4.54838L7.55842 10.7242H7.67309L10.6831 15.8951H14.2522L9.67262 8.31996L14.1519 0.744873H10.6473L7.67309 5.90836H7.55842L4.59854 0.744873Z" fill="#F6F8F9"/>
			</svg>
		</a>
		<h2 class="modal-title pt-7 text-white text-left">
			Reglas del juego
		</h2>
		{# <p class="modal-description text-white text-center mt-3"> #}
			<ul class="modal-description px-4 mt-3">
				<li class="my-1 sm:my-2 tex-white">
                    Los videos se pueden subir solo a las siguientes plataformas: YouTube, Instagram y/o TikTok. En el caso de Instagram, deben publicarse en el perfil. No en las historias.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    Los videos deben ser publicados desde una cuenta pública o hacerla pública mientras dure el concurso, para que los videos puedan visualizarse en la web y participar.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    En cualquiera de las plataformas, siempre deben etiquetar a @cerveza_becker y usar el hashtag #EmbajadoresBecker. Si no cumple con este requisito, el video no será considerado.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    Solo se considerarán aquellos videos que hayan sido compartidos en el sitio web de Becker a través de un link en su perfil. Si lo publica en redes sociales, pero no en la web, no será considerado.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    Los videos podrán tener una duración máxima de 30 segundos.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    Las únicas cervezas que pueden aparecer en los videos son la Becker Clásica, Becker Roja, Becker Negra y/o Becker Doble Malta en cualquiera de sus formatos. Si aparece una cerveza de otra marca, el video no será considerado para el concurso.
                </li>
				<li class="my-1 sm:my-2 tex-white">
                    Para la fase de votación, invita a tus amigos a ver tu video en www.Becker.cl y votar por ti para que seas un Embajador Becker.
                </li>
			</ul>
		{# </p> #}
		<footer class="flex items-center justify-between modal-actions mt-10 mb-3">
			<a class="justify-center its-ok bg-white btn-custom--fase-3 flex items-center p-3 mt-2 border-0 focus:outline-none outline-none text-black text-center">
				ENTENDIDO
			</a>
		</footer>
	</div>
</div>
