<div class="c-competitor lg:m-4">
	<h2 class="text-xl">{{ titleSection }}</h2>
	<div data-element="c-challenges" class="flex flex-wrap justify-around mb-4 w-10/12 mx-auto"></div>
	<p data-element="b-show-more-challenges" class="show-more text-center cursor-pointer">Cargar más</p>
</div>
