<section class="cl-newsletters cl-bg-cover cl-overflow-hidden" >

  <div class="cl-relative cl-z-10 cl-w-full">
    {{ content.field_image }}

    <div class="cl-absolute cl-left-0 cl-top-0 cl-z-20 cl-w-full">
      <div class="cl-container cl-mx-auto cl-pt-16 cl-pb-8 cl-px-4 cl-text-center cl-h-64 cl-text-black">
        <h5 class="cl-font-secundary cl-uppercase cl-text-3xl md:cl-text-4xl">
          {{ content.field_title }}
        </h5>
        <p>
          {{ content.field_subtitle }}
        </p>
      </div>
    </div>

  </div>

</section>
