<section class="content-ambassador_thank-you lg:pt-16 pb-10 text-white relative">
	<div class="h-screen flex items-center justify-center">
		<picture>
			<source media="(max-width:768px)" srcset="/{{ directory }}/front-src/img/bg-thank_you-mobile.jpg" alt="">
			<img class="absolute h-full inset-0 md:object-center mt-12 object-cover object-right banner-promo-background top-0 w-full -z-1" src="/{{ directory }}/front-src/img/tmp/banner-thanks-register.png" alt="">
		</picture>
		<div class="w-4/5 mx-auto lg:w-auto mt-8 lg:mt-0">
			<h2 class="font-bold leading-8 text-xl uppercase">
				¡Buenardo!
				<br>Estás adentro.</h2>
			<p class="font-third py-2 text-lg leading-6">Te enviaremos las
				<br>instrucciones al mail.<br>
				¡Atenti a los próximos desafíos!</p>
			<a data-animation-in="fadeInUp" href="{{ path('ch_becker.embajadores.profile') }}" class="bg-secondary c-button flex items-center justify-between my-3 px-3 py-2 text-xs uppercase lg:w-40 w-48 relative">Regresar
				<span>
					<svg width="18" height="19" viewbox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.6 0V1.9H14.931L0 17.6605L1.269 19L16.2 3.2395V15.2H18V0H3.6Z" fill="white"/>
					</svg>
				</span>
			</a>
		</div>
	</div>
</section>
