<div data-aos-duration="750" data-aos="fade-left" class="component-post--card mx-3 sm:mx-1">
    <div class="post-media flex justify-center items-center">
        <picture class="post-picture">
        <source media="(min-width:690px)" srcset="/{{ directory }}/front-src/img/posts/post.png">
        <img src="/{{ directory }}/front-src/img/posts/post.png" alt="">
        </picture> 
        <a class="post-play">
        <img src="/{{ directory }}/front-src/img/icons/play-video.svg" alt="">
        </a>
    </div>

    <div class="post-details px-2">
        <h4 class="post-details--user text-white">@nickname_usuario</h4>
        <div class="post-details--statistics flex">
            <span class="views text-white flex justify-center items-center mr-1 leading-3">
            240K
            </span>
            <span class="time-ago text-white flex justify-center items-center mr-1 leading-3">
            Hace 7 semanas
            </span>
        </div>

        <div class="post-description mt-1 mb-4 pt-4 leading-3">
            <h3 class="post-description--title text-white">Título del Reto</h3>
            <span class="post-description--hashtag text-white">#BeckerTeLaCompro</span>
        </div>
    </div>

    <footer class="post-let-vote px-2">
        <a class="flex justify-between bg-fourth items-center i-want-vote register py-1 px-4 border-0 float-left focus:outline-none outline-none text-white mx-1 text-center">
            votar
        </a>
        <span class="text-center mt-4"> Voto: 560 </span>
    </footer>
</div>